*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fzh:1.6em;
    --dcb: #200466;
    --swi: 198px;
    --shi: 210px;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: var(--dcb);
    height: 98px;
    display: flex;
    align-items: center;
}
.header #logo{
    width: 75px;
    height:75px;
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center center;
    margin-left: 30px;
    margin-right: 60px;
}
.header__nav{
    display: flex;
    width: 33%;
    justify-content: space-between;
}
.header .header__nav a{
    font-size: var(--fzh);
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    text-decoration: none;
}
.main{
    background-image: url('img/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__h3{
    text-align: center;
    color: white;
    font-size: 2.3em;
    
}
.main__btn_attract{
    font-size: var(--fzh);
     width: 350px;
     margin-top: 40px;
     height: 70px;
     background-color: var(--dcb);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border-left: 7px solid var(--dcb);    
     transition: all 0.5s;
    }
.main__btn_attract:hover{
    border-left: 7px solid yellow;    
}
.soc_wrap{
    display: flex;
    position: relative;
}
.soc_wrap__right{
    top: 30%;  
    left: 36%; 
}
.soc_wrap__icon__big{
    width: 55px;
    height: 55px;
}
.soc_wrap__icon__small{
    width: 33px;
    height: 33px;
}
.soc_wrap__icon{
    background-size: cover;
    background-position: center center;
    border-radius: 15%;
    cursor: pointer;
    margin-right: 15px;
}
.soc_wrap__vk{
background-image: url('img/vk.png');
}
.soc_wrap__face{
background-image: url('img/facebook.png');
}
.soc_wrap__inst{
background-image: url('img/instagram.png');
}
.info_panel{
    border: 2px solid black;
}
.info_panel__h3{
    background-color: var(--dcb);
    color: white;
    font-size: 2.3em;
    text-align: center;
    padding: 20px 0;
    font-family: 'PT Serif', 'Times New Roman';
    font-weight: 100;
}
.info_panel__p{
    font-family:Helvetica, sans-serif;
    padding: 20px 80px;
    line-height: 1.5;
    font-size: 19px;
}
 .first{
    margin-top:50px !important;
}
.info_panel__p:last-child{
    margin-bottom:50px;
}
.cards{
    display: flex;
    flex-direction: column;
}
.up_row{
   display: flex; 
}
.card{
    display: flex;
    flex-direction: column;
}
.card__icon{
    width: var(--swi);
    height: var(--shi);
}
.card__icon__moscow{
    background-image: url('img/');
}



.footer{
    background-color: var(--dcb);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding:40px 60px 30px 60px;
    display: flex;
    justify-content: space-between;
}

.footer_info__p{
    padding-bottom: 16px;
}

.footer_info__big{
    font-size: 1.8em;
}
.footer_info__yellow{
    color: yellow;
}
.footer__logo{
    width: 210px;
    height:210px;
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center center;
    margin-left: 30px;
    margin-right: 60px;
}
.footer__info__p__right{
    text-align: right;
}