*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --dark-red: #7D0124;
    --brown: #C7883C;
    --dark-green: #037270;
    --light-green: #88C8C7;
    --serif:'Playfair Display', serif;
    --sans-serif: 'Roboto', sans-serif;
    --sfs:24px;
}
.header{
    background-color: var(--dark-green);
    height: 80px;
    display: flex;
    align-items: center;
}
.logo{
    width: 45px;
    height: 45px;
    background-image:url('img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: var(--sfs);
}
.nav{
    width: calc(var(--sfs) * 16);
    display: flex;
    justify-content: space-around;
    margin-left: var(--sfs);

}
.nav a {
    color: white;
    text-decoration: none;
    font-family: var(--serif);
    font-size: var(--sfs);
    transition: all 0.5s;
}
.nav a:hover{
    color: var(--brown);
}

.promo{
    height: 100vh;
    width: 1200px;
    background-image:url(img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10%;
}
.action__h3{
    color: white;
    font-size: calc(var(--sfs) * 2);
    text-align: center;
    padding-bottom: var(--sfs);
}
.action__btn{
    color: white;
    width: 250px;
    height: 50px;
    background-color: var(--dark-green);
    font-size: var(--sfs);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 2s;
}

.action__btn:hover{
    background-color: var(--dark-red);
    cursor:pointer;
}


.soc{
    height: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.soc_icons{
    width: calc(var(--sfs) * 1.9);
    height: calc(var(--sfs) * 1.9);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: var(--sfs);
    border-radius: 4px;
}

.soc_icons__vk{
    background-image: url('img/vk.png');
}
.soc_icons__face{
    background-image: url('img/facebook.png');
}
.soc_icons__inst{
    background-image: url('img/instagram.png');
}
.info{
    margin: 0 auto;
    width: 1200px;
    border: 2px solid black;
}
.info__h3{
    background-color: var(--dark-green);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sfs) 0;
    font-size:calc(var(--sfs) * 1.3);
    font-family: var(--serif);
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.info_text{
    font-family: var(--sans-serif);
    padding: var(--sfs);
    font-size: calc(var(--sfs)/1.2);
    text-align: justify;

}
.info_text__p{
    margin-bottom: var(--sfs);
}
