*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --fzh:1.6em;
    --dcb: #223541;
    --swi: 198px;
    --shi: 210px;
    --dco: #D7593B
}

body{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: var(--dcb);
    height: 98px;
    display: flex;
    align-items: center;
}

.aside{
    position:fixed;
    top: 25%;
    display: flex;
    flex-direction: column;
    background-color: var(--dco);
    padding: 5px;
    margin-left: 5px;
    
}
.aside__a{
    text-decoration: none;
    display: inline-block;
    width: 75px;
    height: 30px;
    color:white;
    text-align: center;
}


.header #logo{
    width: 75px;
    height:75px;
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center center;
    margin-left: 30px;
    margin-right: 60px;

}
.header #logo:hover{
    animation-name: logo;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}
.header__nav{
    display: flex;
    width: 33%;
    justify-content: space-between;
}
.header .header__nav a{
    font-size: var(--fzh);
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    text-decoration: none;
}
.main{
    background-image: url('img/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__h3{
    text-align: center;
    color: white;
    font-size: 2.3em;
    
}
.main__btn_attract{
    font-size: var(--fzh);
     width: 350px;
     margin-top: 40px;
     height: 70px;
     background-color: var(--dcb);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border-left: 7px solid var(--dcb);    
     transition: all 0.5s;
    }
.main__btn_attract:hover{
    border-left: 7px solid var(--dco);    
}
.soc_wrap{
    display: flex;
    position: relative;
}
.soc_wrap__right{
    top: 30%;  
    left: 36%; 
}
.soc_wrap__icon__big{
    width: 55px;
    height: 55px;
}
.soc_wrap__icon__small{
    width: 33px;
    height: 33px;
}
.soc_wrap__icon{
    background-size: cover;
    background-position: center center;
    border-radius: 15%;
    cursor: pointer;
    margin-right: 15px;
}
.soc_wrap__vk{
background-image: url('img/vk.png');
}
.soc_wrap__face{
background-image: url('img/facebook.png');
}
.soc_wrap__inst{
background-image: url('img/instagram.png');
}
.info_panel{
    border: 2px solid black;
}
.info_panel__h3{
    background-color: var(--dcb);
    color: white;
    font-size: 2.3em;
    text-align: center;
    padding: 20px 0;
    font-family: 'PT Serif', 'Times New Roman';
    font-weight: 100;
}
.info_panel__p{
    font-family:Helvetica, sans-serif;
    padding: 20px 80px;
    line-height: 1.5;
    font-size: 19px;
}
 .first{
    margin-top:50px !important;
}

.info_panel__ul{
    text-align: center;
    
}
.info_panel__ul li{
    list-style-type:none;
    font-size: 20px;
    line-height: 2;
}
ul:after{
    content:url('http://s1.iconbird.com/ico/0512/summerholidayicons1/file1336928588.png');
    size: 50%;
}


.info_panel__p:last-child{
    margin-bottom:50px;
}
.cards{
    display: flex;
    flex-direction: column;
}
.card_row{
   display: flex; 
}
.card{
    display: flex;
    flex-direction: column;
    padding: 18px 50px 50px 50px;
    text-align: center;
    border: 2px solid black;
    width: 400px;
    align-items: center;
}

.card__icon{
    width: var(--swi);
    height: var(--shi);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.card__h5{
    color: var(--dcb);
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.card__p{
    font-size: 17px;
    font-family: Helvetica, sans-serif;

}
.card__line{
    height: 5px;
    width: 80px;
    background-color: var(--dco);
    margin-bottom: 20px;
}

.card__icon__moscow{
    background-image: url('img/moscow.png');
}
.card__icon__london{
    background-image: url('img/big-ben.png');
    
}
.card__icon__africa{
    background-image: url('img/pyramids.png'); 
}
.card__icon__na{
    background-image: url('img/north-america.png'); 
}
.card__icon__sa{
    background-image: url('img/south-america.png'); 
}
.card__icon__australia{
    background-image: url('img/kangaroo.png');
}


.footer{
    background-color: var(--dcb);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding:40px 60px 30px 60px;
    display: flex;
    justify-content: space-between;
}

.footer_info__p{
    padding-bottom: 16px;
}

.footer_info__big{
    font-size: 1.8em;
}
.footer_info__yellow{
    color: var(--dco);
}
.footer__logo{
    width: 210px;
    height:210px;
    background-image: url("img/logo.png");
    background-size: cover;
    background-position: center center;
    margin-left: 30px;
    margin-right: 60px;
}
.footer__info__p__right{
    text-align: right;
}

/* анимации */
@keyframes logo
{
    0%{
        width: 75px;
        height:75px; 
    }
    50%{        
        width: 80px;
        height:80px; 
    }
    100%{        
        width: 75px;
        height:75px; 
    }
}